<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.color.infra.codegroup.CodeGroupDao">
<!-- namespace : Mapper와 연결될 Dao 주소 -->
<!-- xml 주석 단축키 : Ctrl + Shift + C -->

	<resultMap type="com.color.infra.codegroup.CodeGroupDto" id="resultMapObj"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.ifcgSeq
    		,a.ifcgName
    		,a.ifcgUseNy
    		,a.ifcgOrder
    		,a.ifcgDesc
    		,a.ifcgDelNy
    		,a.ifcgRgDate
    		,a.ifcgEditDate
	FROM
			codegroup a
	ORDER BY
			a.ifcgSeq desc
	</select>
	
	<insert id="insert">
		insert into codegroup (
			ifcgName
			,ifcgUseNy
			,ifcgOrder
			,ifcgDesc
			,ifcgDelNy
			,ifcgRgDate
			,ifcgEditDate
		)
		values (
		    "hyobin"
		    ,1
		    ,1
		    ,NULL
		    ,0
		    ,now()
		    ,now()
		)
	</insert>
</mapper>