<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.color.infra.lecture.LectureDao">

	<resultMap type="com.color.infra.lecture.LectureDto"
		id="resultMapLec"></resultMap>

	<select id="selectLec" resultMap="resultMapLec">
		SELECT
			d.seq
			,d.type
			,d.title
			,d.tuition
			,d.instructor
			,d.classRegDate
			,d.classRegEndDate
			,d.classStartDate
			,d.classEndDate
			,d.place
			,d.classDesc
			,d.regDate
			,d.editDate
		FROM
			lecture d
		ORDER BY
			d.seq desc
	</select>

	<insert id="insert">
		insert into lecture (
		type
		,title
		,tuition
		,instructor
		,classRegDate
		,classRegEndDate
		,classStartDate
		,classEndDate
		,place
		,classDesc
		,regDate
		,editDate
		)
		values (
		#{type}
		,#{title}
		,#{tuition}
		,#{instructor}
		,now()
		,now()
		,now()
		,now()
		,#{place}
		,null
		,now()
		,now()
		)
	</insert>
	<select id="selectOne" resultMap="resultMapLec">
		SELECT
			d.seq
			,d.type
			,d.title
			,d.tuition
			,d.instructor
			,d.classRegDate
			,d.classRegEndDate
			,d.classStartDate
			,d.classEndDate
			,d.place
			,d.classDesc
			,d.regDate
			,d.editDate
		FROM
			lecture d
		WHERE 1=1
			AND d.seq = #{seq}

	</select>
	
	<update id="update">
	UPDATE Lecture
	SET
		type = #{type}
		,title = #{title}
		,tuition = #{tuition}
		,instructor = #{instructor}
		,place = #{place}
		,classDesc = #{classDesc}
	WHERE 1 = 1
		AND seq = #{seq}
	</update>

</mapper>