<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.color.infra.pmembers.PmembersDao">

<resultMap type="com.color.infra.pmembers.PmembersDto" id="resultMapMem"></resultMap>
	  
	  <select id="selectMem" resultMap="resultMapMem">
	  	SELECT
			c.seq
		    ,c.admin
		    ,c.pmembers_name
		    ,c.pmembers_id
		    ,c.pmembers_password
		    ,c.pmembers_gender
		    ,c.pmembers_birthDate
		    ,c.pmembers_email
		    ,c.pmembers_tel
		    ,c.pmembers_desc
		    ,c.regDate
		    ,c.regDate
		FROM 
			pmembers c
		ORDER BY
			c.seq desc
	  </select>
	  
	  <insert id="insert">
		  insert into pmembers (
			  admin
			  ,pmembers_name
			  ,pmembers_id
			  ,pmembers_password
			  ,pmembers_gender
			  ,pmembers_birthDate
			  ,pmembers_email
			  ,pmembers_tel
			  ,pmembers_desc
			  ,regDate
			  ,editDate
			)
		  values (
		    #{admin}
		    ,#{pmembers_name}
		    ,#{pmembers_id}
		    ,#{pmembers_password}
		    ,#{pmembers_gender}
		    ,now()
		    ,#{pmembers_email}
		    ,#{pmembers_tel}
		    ,NULL
		    ,now()
		    ,now()
		)
	  </insert>
	  <select id="selectOne" resultMap="resultMapMem">
	  SELECT
			c.seq
		    ,c.admin
		    ,c.pmembers_name
		    ,c.pmembers_id
		    ,c.pmembers_password
		    ,c.pmembers_gender
		    ,c.pmembers_birthDate
		    ,c.pmembers_email
		    ,c.pmembers_tel
		    ,c.pmembers_desc
		    ,c.regDate
		    ,c.regDate
		FROM 
			pmembers c
		WHERE 1=1
			AND c.seq = #{seq}
	  </select>
	  
	  <update id="update">
	  UPDATE Pmembers
	  SET
	  		admin = #{admin}
		    ,pmembers_name = #{pmembers_name}
		    ,pmembers_id = #{pmembers_id}
		    ,pmembers_password = #{pmembers_password}
		    ,pmembers_gender = #{pmembers_gender}
		    ,pmembers_email = #{pmembers_email}
		    ,pmembers_tel = #{pmembers_tel}
		    ,pmembers_desc = #{pmembers_desc}
	 WHERE 1 = 1
	 	AND seq = #{seq}
	  </update>
</mapper>