<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.color.infra.rooms.RoomsDao">

	<resultMap type="com.color.infra.rooms.RoomsDto" id="resultMapObj"></resultMap>
	
	<sql id="selectCommon">
		FROM
			rooms d
		LEFT JOIN hotel c
			ON d.Hotel_seq = c.hotelSeq
		WHERE 1=1
			<if test="shRooms_delNy != null and !shRooms_delNy.equals('')">AND rooms_delNy = #{shRooms_delNy}</if>
			<if test="shStatus != null and !shStatus.equals('')">AND status = #{shStatus}</if>
			<choose>
				<when test="shOptionDate == 1">AND d.roomRgDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				<when test="shOptionDate == 2">AND d.roomEditDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			</choose>
			<choose>
				<when test="shOption == 1">AND roomSeq = #{shValue}</when>
				<when test="shOption == 2">AND roomType LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND roomDesc LIKE CONCAT('%',#{shValue},'%')</when>
			</choose>
	</sql>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"/>
	</select>
	
	<select id="roomSelectList" resultMap="resultMapObj">
		select aa.* from(
		SELECT
			d.roomSeq,
		    d.roomType,
		    d.price,
		    d.status,
		    d.roomDesc,
		    d.rooms_delNy,
		    d.roomRgDate,
		    d.roomEditDate,
		    d.Hotel_seq,
		    c.hotelName
		<include refid="selectCommon"/>
		ORDER BY
			d.roomSeq DESC
		)aa
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<select id="roomSelectOne" resultMap="resultMapObj">
		SELECT
			d.roomSeq,
		    d.roomType,
		    d.price,
		    d.status,
		    d.roomDesc,
		    d.rooms_delNy,
		    d.roomRgDate,
		    d.roomEditDate,
		    d.Hotel_seq,
		    c.hotelName
		FROM
			rooms d
		LEFT JOIN hotel c
			ON d.Hotel_seq = c.hotelSeq
		WHERE 1=1
			AND d.roomSeq = #{roomSeq}
	</select>
	
	<insert id="roomInsert">
		INSERT INTO rooms (
			roomType,
		    price,
		    status,
		    roomDesc,
		    rooms_delNy,
		    roomRgDate,
		    roomEditDate,
		    Hotel_seq
		) VALUES (
			#{roomType},
		    #{price},
		    #{status},
		    #{roomDesc},
		    #{rooms_delNy},
		    now(),
		    now(),
		    #{Hotel_seq}
		)
	</insert>
	
	<update id="roomUpdate">
		UPDATE rooms
		SET
			roomType = #{roomType},
		    price = #{price},
		    status = #{status},
		    roomDesc = #{status},
		    rooms_delNy = 0,
		    roomEditDate = now(),
		    Hotel_seq = #{Hotel_seq}
		WHERE 1=1 
			AND roomSeq = #{roomSeq}
	</update>
	
</mapper>