/******************** custom CSS ********************/
#mystar input[type=radio] {
   display: none;
}

#mystar label {
   font-size: 40px;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
    cursor: pointer;
}

